h1{
    text-align : center;
    margin-left : 50px;
    margin-right : 50px;
    margin-top : 50px;
    margin-bottom : 50px;
    background-color : green;
    /* background-color : grey; */
}
#myname{
    text-align : center;
    font-size : 25px;
    padding : 60px;
}
#myself{
    font-size : 20px 
}
/* .row{
    padding-left : 40px;
    padding-right : 40px;
    background-color : grey;
} */